// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
// 2. Include any default variable overrides here
$link-decoration: none;
$light: #EDF2F3;
$gray: #5E626F;
$dark: #202437;
$primary: #449FEE;
$secondary: #525FDD;
$info: #E93C79;
// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body{
	background: #EDF2F3;
	font-family: "Source Sans 3", sans-serif;
}

.montserrat{
	font-family: "Montserrat", sans-serif;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-column-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fs-stats{
	font-size: 40px;
}

.fs-stats2{
	font-size: 12px;
}